<ion-header [translucent]="true">
  <ion-toolbar color="ddd">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title color="bbb">detail</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" color="aaa">

      <ion-card *ngIf="pro">
        <img [src]="pro.image" alt="">
        <ion-card-header>
          <ion-card-title>{{ pro.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item>
            ราคา: {{ pro.price }} ฿
          </ion-item>
          <ion-item>
            รายละเอียด: {{ pro.detail }}
          </ion-item>
        </ion-card-content>
      </ion-card>

</ion-content>
